<a href="https://colab.research.google.com/github/lennart194/thesis-code/blob/main/separatemodeling_SAA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install ddop

In [ ]:
import pandas as pd
import numpy as np

from ddop.newsvendor import SampleAverageApproximationNewsvendor

from ddop.metrics import prescriptiveness_score
from ddop.metrics import average_costs

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/M5/ultimative_set.csv')
data = data.drop(columns=['Unnamed: 0'])
data = data.sort_values(by=['item_id', 'date'])
data = data.set_index(['item_id', 'date'])

In [ ]:
X = data.drop(columns=['demand'])
Y = data['demand']

In [ ]:
X_train = X.loc[(slice(None), slice(None, "2015")), :]
X_test = X.loc[(slice(None), slice("2015", '2017')), :]

Y_train = Y.loc[(slice(None), slice(None, "2015"))]
Y_test = Y.loc[(slice(None), slice("2015", "2017"))]

In [ ]:
prods = list(range(0,25))

# SAA alpha = 0.95

In [ ]:
result_saa = []
for prod in prods:
  cu = X_train.loc[prod]['sell_price'].mean()
  co_95 = co = ((cu-(0.95*cu))/0.95)
  
  saa = SampleAverageApproximationNewsvendor(cu = cu, co = co_95)
  saa.fit(Y_train.loc[prod])
  preds = saa.predict(n_steps = 508)
  avc = round(average_costs(Y_test.loc[prod], preds, cu = cu, co = co_95),2)
  result_saa.append(avc)

In [ ]:
SAA_separate_avc_95 = pd.DataFrame(result_saa, columns=['SAA_avc_95'])
SAA_separate_avc_95.index.name = 'item_id'

# SAA alpha = 0.9

In [ ]:
result_saa_90 = []
for prod in prods:
  cu = X_train.loc[prod]['sell_price'].mean()
  co_90 = co = ((cu-(0.9*cu))/0.9)
  
  saa = SampleAverageApproximationNewsvendor(cu = cu, co = co_90)
  saa.fit(Y_train.loc[prod])
  preds = saa.predict(n_steps = 508)
  avc = round(average_costs(Y_test.loc[prod], preds, cu = cu, co = co_90),2)
  result_saa_90.append(avc)

In [ ]:
SAA_separate_avc_90 = pd.DataFrame(result_saa, columns=['SAA_avc_90'])
SAA_separate_avc_90.index.name = 'item_id'

# SAA alpha = 0.75

In [ ]:
result_saa_75 = []
for prod in prods:
  cu = X_train.loc[prod]['sell_price'].mean()
  co_75 = co = ((cu-(0.75*cu))/0.75)
  
  saa = SampleAverageApproximationNewsvendor(cu = cu, co = co_75)
  saa.fit(Y_train.loc[prod])
  preds = saa.predict(n_steps = 508)
  avc = round(average_costs(Y_test.loc[prod], preds, cu = cu, co = co_75),2)
  result_saa_75.append(avc)

In [ ]:
SAA_separate_avc_75 = pd.DataFrame(result_saa, columns=['SAA_avc_75'])
SAA_separate_avc_75.index.name = 'item_id'

# SAA alpha = 0.5

In [ ]:
result_saa_50 = []
for prod in prods:
  cu = X_train.loc[prod]['sell_price'].mean()
  co_50 = co = ((cu-(0.50*cu))/0.50)
  
  saa = SampleAverageApproximationNewsvendor(cu = cu, co = co_50)
  saa.fit(Y_train.loc[prod])
  preds = saa.predict(n_steps = 508)
  avc = round(average_costs(Y_test.loc[prod], preds, cu = cu, co = co_50),2)
  result_saa_50.append(avc)

In [ ]:
SAA_separate_avc_50 = pd.DataFrame(result_saa, columns=['SAA_avc_50'])
SAA_separate_avc_50.index.name = 'item_id'

# fit together

In [ ]:
SAA_separated = pd.concat([SAA_separate_avc_95, SAA_separate_avc_90, SAA_separate_avc_75, SAA_separate_avc_50], axis=1)

In [ ]:
SAA_separated.to_csv('/content/drive/MyDrive/M5/final_set.csv')

         SAA_avc_95  SAA_avc_90  SAA_avc_75  SAA_avc_50
item_id
0              1.01        1.01        1.01        1.01
1              0.98        0.98        0.98        0.98
2              1.64        1.64        1.64        1.64
3              8.20        8.20        8.20        8.20
4              1.79        1.79        1.79        1.79
5              1.10        1.10        1.10        1.10
6              1.39        1.39        1.39        1.39
7              1.90        1.90        1.90        1.90
8              0.84        0.84        0.84        0.84
9              0.78        0.78        0.78        0.78
10             3.58        3.58        3.58        3.58
11             0.87        0.87        0.87        0.87
12             1.46        1.46        1.46        1.46
13             1.48        1.48        1.48        1.48
14             1.45        1.45        1.45        1.45
15             1.79        1.79        1.79        1.79
16             0.48        0.48        0.48        0.48
17             1.81        1.81        1.81        1.81
18             3.53        3.53        3.53        3.53
19             0.72        0.72        0.72        0.72
20             1.70        1.70        1.70        1.70
21             1.95        1.95        1.95        1.95
22             5.06        5.06        5.06        5.06
23             2.44        2.44        2.44        2.44
24             2.28        2.28        2.28        2.28